header {
  background: #ff3131;
  position: sticky;
  top:0;
}

.mobileiconlabel{
  display: inline-block;
  color: #faf8f8;
  background: #ff3131;
  font-style: normal;
  font-size: 1.2rem;
  padding: 10px;
}

.menuitem{
  display: block;
  width: 100%;
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
  position: sticky;
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 15px;
  padding-left: 10px;
}

/*Hide checkbox and menuitems until clicked*/
.menuitems__container, 
.mobileicon{
  display: none;
}

/*Show menuitems when mobileicon-label is clicked*/
.navigation__container input:checked ~ .menuitems__container{
    display: block;
}

/* display logo to the right*/
.companylogo{
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 margin: auto;
 max-width: 46px;
 max-height: 46px;

}

/*Add rules for wide screens*/
@media screen and (min-width: 800px){

  /*hiding mobile icon and its label*/
.mobileiconlabel, 
.mobileicon{
    display: none;
}
/*making menuitens flex horizontally (in a row)*/
.menuitems__container{
    display: flex;
    justify-content: flex-end;
}

.menuitem{
    width: 130px;
}

.companylogo{
  float: left;
  }
}
/*----forside CSS----*/

.Konkurrence{
  background-color: rgb(230, 230, 230);
}

.Konkurrence_billede {
  padding-top: 3%;
  width: 70%;
  height: 60%;
  margin-left: 16%;
}

.kilde {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  display: block;
  text-align: center;
}

.konkurrence_tekst{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
  text-align: center;
  font-size: 17px;
}

.tekst_konkurrence{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
  text-align: center;
  font-size: 13px;
}

.Info_billede_tekst {
font-family: Verdana, Geneva, Tahoma, sans-serif;
 display: block;
 text-align: center;
 font-size: 20px;
}

.Info_billeder{
  margin-bottom: 35px;

}

.row1{
  text-align: center;
}

.underartikel2{
  width: 30%;
  height: 30%;
}

/*------styling produktside------*/

.h3 {
  display: block;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.billede_4 {
  width: 40%;
  padding-right: 50%;
}


.text_produktside {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 2px;
display: block;
text-align: center;
}


.tekst_bedømmelse {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}


.checked {
    color: orange;
  }

  .row {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .produkt-col{
    flex-basis: 48%;

  }

  .produkt-col img{
    width: 100%;
  }

  .produkt-col p{
    font-size: 15px;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .billede_3 {
    height: auto;
    display: block;
    align-items: center;
    margin-left: 10%;
    padding-bottom: 15%;
  }

/*-----Inspirations CSS-----*/

.Pizzaen{
  background-color: rgb(236, 236, 236);
  margin-top: 10px;
}

.h6 {
  display: block;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.pizza_billede {
  width: 50%;
  height: 30%;
  display: block;
  align-items: center;
  margin-left: 25%;
}

.pizza_overskrift {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  display: block;
  text-align: center;
}

.Ingredientser_pizza{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  display: block;
  text-align: center;
}

.opskrift_pizza{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  display: block;
  text-align: center;
}

.Totillia {
  background-color: rgb(236, 236, 236) ;
}

.Totillia_overskift{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  display: block;
  text-align: center;
}

.Totillia_billede {
  width: 50%;
  height: 30%;
  display: block;
  align-items: center;
  margin-left: 25%;
}

.Ingredientser_totilla {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
  text-align: center;
  font-size: 13px;
}

.Totillia_opskrift {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  display: block;
  text-align: center;
}

.stjerner {
  margin-left: 44%;
}

.Pasta {
  background-color: rgb(236, 236, 236) ;
}

.Pasta_overskift {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  display: block;
  text-align: center;
}

.Pasta_billede {
  width: 50%;
  height: 30%;
  display: block;
  align-items: center;
  margin-left: 25%;
}

.Ingredientser_Pasta {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
  text-align: center;
  font-size: 13px;
}

.Pasta_opskrift {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  display: block;
  text-align: center;
}

/*----styling af bæredygtigheds side---*/

.h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: block;
  text-align: center;
  font-size: 18px;
  color: green;
}

.Tekst_bæredygtighed {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  display: block;
  text-align: center;
  max-width: 1680px;
  margin-bottom: 40px;

}

.Co2_billede {
  width: 50%;
  height: 30%;
  display: block;
  align-items: center;
  margin-left: 25%;

}

/*----Konkurrence CSS---*/

.video {
  position: relative;
  margin: 10px auto 20px;
   width: 100%;
   max-width: 500px;
   height: 300px; 
   border: none;

}

.betingelsersektion {
  text-align: center;
}

/*---Denne kode er lånt fra W3Schools---*/

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #13a570;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  float: left;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #c50000;
  color: rgb(255, 226, 226);
  padding: 18px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  float: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #fc9d9d;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  width: 25%;
  margin-top: 6px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  font-size: 10px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}



/* STYLLING AF FOOTER */

.col{
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.colsocial {
  width: 33px;
  height: 33px;
}

.colsocial1{
  width: 35px;
  height: 32px;
  padding-bottom: 3px;
}

/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: white;
  text-decoration: none;
}

/* STYLES SPECIFIC TO FOOTER  */
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #ff3131;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: white;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}

.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}